<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <script src="https://cdn.tailwindcss.com"></script>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            .bg-cover {
              background-image: url('/static/banner.jpg');
              background-size: cover;
              background-position: center;
            }
          </style>
    </head>
    <body>
        <header class="text-gray-400 bg-gray-900 body-font">
            <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
              <nav class="flex lg:w-2/5 flex-wrap items-center text-base md:ml-auto">
                <a  class="mr-5 hover:text-white">Home</a>
                <a href="#contact" class="mr-5 hover:text-white">Contact</a>
                <a href="#description" class="mr-5 hover:text-white">About</a>
                <a href="#support" class="hover:text-white">Support</a>
              </nav>
              <a class="flex order-first lg:order-none lg:w-1/5 title-font font-medium items-center text-white lg:items-center lg:justify-center mb-4 md:mb-0">
                <img src="/static/agronomy.png" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-white rounded-full" viewBox="0 0 24 24">
                  <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
                </img>
                <span class="ml-3 text-xl xl:block lg:hidden">NouriShare</span>
              </a>
              <div class="lg:w-2/5 inline-flex lg:justify-end ml-5 lg:ml-0">
                <a href="/signup"><button  class="inline-flex items-center  border-0 bg-gray-700 py-1 px-3 focus:outline-none hover:bg-red-500 rounded text-base text-white mt-4 md:mt-0">Register
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                      <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                  </button></a>
              </div>
            </div>
          </header>
          <div class="bg-cover shadow-3xl flex-grow flex items-center justify-center">
            <div class="max-w-xs">
              <form action="/" method="post" class="bg-rgb-17-24-39 shadow-3xl rounded px-8 pt-6 pb-8 mb-4">
                <div class="mb-4">
                  <label class="block text-gray-700 text-2xl font-bold mb-2" for="name">
                    Username
                  </label>
                  <input name="name" class="shadow-lg appearance-none border rounded w-full py-4 px-8 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="name" type="text" placeholder="Username">
                </div>
                <div class="mb-4">
                  <label class="block text-gray-700 text-2xl font-bold mb-2" for="password">
                    Password
                  </label>
                  <input name="password" class="shadow-lg appearance-none border rounded w-full py-4 px-8 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="Password">
                </div>
                <div class="flex items-center justify-between">
                  <button type='submit' class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    Sign In
                  </button>
                  <a href="/reset_password_request" class="inline-block align-baseline font-bold text-sm text-black hover:text-red-800" href="#">
                    Forgot Password?
                  </a>
                </div>
              </form>
            </div>
          </div>
        <section id='description' class="text-gray-400 bg-gray-900 body-font">
            <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
              <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="/static/description.png">
              <div class="text-center lg:w-2/3 w-full">
                <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">What do we do?
                </h1>
                <p class="leading-relaxed text-xl mb-8">What do we do?

                    We fight food waste by connecting the dots. Our platform creates a marketplace where restaurants and stores with surplus food can donate it to food banks, individuals, and businesses. This reduces waste and saves money.  Real-time tracking ensures food gets picked up fresh, and educational content empowers everyone to use food efficiently. Together, let's make a dent in food waste!</p>
                <a href="/ways_to_reduce_waste" class="flex justify-center">
                    <button class="ml-4 inline-flex text-white bg-gray-500 border-0 py-2 px-6 focus:outline-none hover:bg-red-700 hover:text-white rounded text-lg">Learn more -></button></a></div>
                </div>
              </div>
            </div>
          </section>
          <br>
          <section class="text-gray-400 bg-gray-900 body-font">
            <div class="container px-5 py-24 mx-auto">
              <div class="flex flex-wrap -m-4">
                <div class="lg:w-1/3 lg:mb-0 mb-6 p-4">
                  <div class="h-full text-center">
                    <img alt="testimonial" class="w-20 h-20 mb-8 object-cover object-center rounded-full inline-block border-2 border-gray-800 bg-gray-800 bg-opacity-10" src="/static/food-donation.png">
                    <h2 class="text-white font-medium title-font tracking-wider text-xl">Total Donations</h2>
                    <br>
                    <div class="counter text-5xl text-white" data-target="1000">0</div>
                  </div>
                </div>
                <div class="lg:w-1/3 lg:mb-0 mb-6 p-4">
                  <div class="h-full text-center">
                    <img alt="testimonial" class="w-20 h-20 mb-8 object-cover object-center rounded-full inline-block border-2 border-gray-800 bg-gray-800 bg-opacity-10" src="/static/feedback.png">
                    <h2 class="text-white font-medium title-font tracking-wider text-xl">People Fed</h2>
                    <br>
                    <div class="counter text-5xl text-white" data-target="500">0</div>
                  </div>
                </div>
                <div class="lg:w-1/3 lg:mb-0 p-4">
                  <div class="h-full text-center">
                    <img alt="testimonial" class="w-20 h-20 mb-8 object-cover object-center rounded-full inline-block border-2 border-gray-800 bg-gray-800 bg-opacity-10" src="/static//vegetarian.png">
                    <h2 class="text-white font-medium title-font tracking-wider text-xl">Food Saved (Kgs)</h2>
                    <br>
                    <div class="counter text-5xl text-white" data-target="800">0</div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          
          <section id="contact" class="bg-gray-900 dark:bg-gray-900">
            <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
                <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-white dark:text-white">Contact Us</h2>
                <p class="mb-8 lg:mb-16 font-light text-center text-gray-500 dark:text-gray-400 sm:text-xl">Got a technical issue? Want to send feedback about a beta feature? Need details about our Business plan? Let us know.</p>
                <form action="/contact" method="post" class="space-y-8">
                    <div>
                        <label for="email" class="block mb-2 text-xl font-medium text-white dark:text-gray-500">Your email</label>
                        <input type="email" name="email" id="email" class="shadow-sm bg-gray-50 border border-gray-300 text-l text-black rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="example@gmail.com" required>
                    </div>
                    <div>
                        <label for="subject" class="block mb-2 text-xl font-medium text-white dark:text-gray-500">Subject</label>
                        <input type="text" name="subject" id="subject" class="block p-3 w-full text-l text-black bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Let us know how we can help you" required>
                    </div>
                    <div class="sm:col-span-2">
                        <label for="message" class="block mb-2 text-xl font-medium text-white dark:text-gray-500">Your message</label>
                        <textarea id="message" name="message" rows="6" class="block p-2.5 w-full text-l text-black bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Leave a comment..."></textarea>
                    </div>
                    <button type="submit" class="inline-flex items-center bg-gray-500 text-white border-0 py-1 px-3 focus:outline-none hover:bg-red-500 rounded text-l text-white mt-4 md:mt-0">Send
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                          <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                      </button>
                </form>
            </div>
          </section>
          <section id="support"><div class="bg-gray-100 py-12">
            <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8">
              <h2 class="text-3xl font-extrabold text-center text-gray-900 mb-4">Support Our Organization</h2>
              <p class="text-lg text-center text-gray-700 mb-8">Your support helps us continue our mission and make a difference in the community.</p>
              
              <div class="flex flex-wrap -mx-4">
                <div class="w-full sm:w-1/2 lg:w-1/3 px-4 mb-8">
                  <div class="bg-white rounded-lg shadow-lg overflow-hidden">
                    <div class="px-6 py-4">
                      <h3 class="text-xl font-bold text-gray-900 mb-2">Donate</h3>
                      <p class="text-gray-700">Support us financially by making a donation. Every contribution counts.</p>
                    </div>
                    <div class="px-6 pt-4 pb-2 bg-gray-100">
                      <a href="#" class="block w-full text-center bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">Donate Now</a>
                    </div>
                  </div>
                </div>
                
                <div class="w-full sm:w-1/2 lg:w-1/3 px-4 mb-8">
                  <div class="bg-white rounded-lg shadow-lg overflow-hidden">
                    <div class="px-6 py-4">
                      <h3 class="text-xl font-bold text-gray-900 mb-2">Volunteer</h3>
                      <p class="text-gray-700">Become a volunteer and help us with our projects and initiatives.</p>
                    </div>
                    <div class="px-6 pt-4 pb-2 bg-gray-100">
                      <a href="#" class="block w-full text-center bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded">Join Us</a>
                    </div>
                  </div>
                </div>
                
                <div class="w-full sm:w-1/2 lg:w-1/3 px-4 mb-8">
                  <div class="bg-white rounded-lg shadow-lg overflow-hidden">
                    <div class="px-6 py-4">
                      <h3 class="text-xl font-bold text-gray-900 mb-2">Spread the Word</h3>
                      <p class="text-gray-700">Help us reach more people by sharing our mission and activities on social media.</p>
                    </div>
                    <div class="px-6 pt-4 pb-2 bg-gray-100">
                      <a href="#" class="block w-full text-center bg-yellow-500 hover:bg-yellow-600 text-white font-bold py-2 px-4 rounded">Share Now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </section>
          <footer class="text-gray-400 bg-gray-900  body-font">
            <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
              <a class="flex title-font font-medium items-center md:justify-start justify-center text-white">
                <img src="/static/agronomy.png" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-white rounded-full" viewBox="0 0 24 24">
                  <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
                </img>
                <span class="ml-3 text-xl">NouriShare</span>
              </a>
              <p class="text-sm text-gray-400 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-800 sm:py-2 sm:mt-0 mt-4">© 2024 NouriShare —
                
              </p>
              <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
                <a class="text-gray-400">
                  <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                  </svg>
                </a>
                <a class="ml-3 text-gray-400">
                  <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                  </svg>
                </a>
                <a class="ml-3 text-gray-400">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                    <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                  </svg>
                </a>
                <a class="ml-3 text-gray-400">
                  <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                    <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
                    <circle cx="4" cy="4" r="2" stroke="none"></circle>
                  </svg>
                </a>
              </span>
            </div>
          </footer>
        <script src="" async defer></script>
        <script>
            // Function to animate the counter
function animateCounter(counter, target) {
  const increment = Math.ceil(target / 150); // Adjust the speed of the animation by changing the value (100 here)

  let currentCount = 0;
  const updateCounter = () => {
    currentCount += increment;
    if (currentCount >= target) {
      clearInterval(counterUpdate);
      currentCount = target;
    }
    counter.textContent = currentCount;
  };

  const counterUpdate = setInterval(updateCounter, 20); // Adjust the speed of the animation by changing the value (10 here)
}

// Run the counter animation on page load
document.addEventListener('DOMContentLoaded', () => {
  const counters = document.querySelectorAll('.counter');
  counters.forEach(counter => {
    const target = parseInt(counter.getAttribute('data-target'));
    animateCounter(counter, target);
  });
});

        </script>
    </body>
</html>